<!-- include header -->
<%- include('include/header') %>
    <!-- /include header -->

    <div class="container mt-5">
        <br>
        <br>
        <br>
        <div class="alert alert-danger" role="alert">
            Please Search Valid Name with correrct case!!!
            <br>
            <br>
            <a href="/"> Go to Main Page</a>
        </div>
    </div>

    <!-- include footer -->
    <%- include('include/footer') %>
        <!-- /include footer -->