.glass {
 /* From https://css.glass */
background: rgba(116, 113, 113, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(116, 113, 113, 0.3);
  position:fixed;
  bottom: 2%;
  text-align: center; 
  left: 10%;
}
