<!-- include header -->
<%- include('header') %>
    <!-- /include header -->

    <div class="alert alert-secondary" role="alert">
        Please write a valid name with the correct case
        <br>
        <a href="/"> Go to Main Page</a>
    </div>

    <!-- include footer -->
    <%- include('footer') %>
        <!-- /include footer -->